body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
    font-family: Arial;
}

.form-container{
    background-color: beige;
    padding: 20px;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
}

.form-container input{
    display: block;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

.form-container button{
    padding: 10px;
    width: 100%;
    background-color: bisque;
    color: black;
    border-radius: 5px;
    cursor: pointer;

}

/*Estilização de mensagem de validação */

.message{
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    display: none;
}

.message.sucess{
background-color: aquamarine;
color: green;
}

.message.error{
background-color: rgb(234, 160, 160);
color: red;
}